<head>
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>


<h1>My website</h1>

<nav class='navbar'>
	<ul>
		<li><a href='/'>Home</a></li>
		<li><a href='/about'>About</a></li>
		<li>Posts</li>
		<li>Profile</li>
	</ul>
</nav>


<div class='main-container'> <%=  yield %></div>

<script type="text/javascript" src='javascript/javascript.js'></script>